go 1.23.0

use (
	./asynq
	./call-c-cost-test
	./cgo
	./coroutine
	./craw-txt
	./demo
	./expired_lock
	./fx
	./go-zero
	./grpc
	./gui
	./hash-big-file
	./image-info
	./interview
	./local-ip
	./mock
	./orm
	./pipeline-manager
	./prisma-go
	./rabbitmq
	./read-big-file-end-100
	./simple-user-web
	./sqlc-demo
	./wire
)
